Daemon uses NAT-PMP/PCP on the first host of the network, instead of the gateway

The IPFS daemon tries to open ports in the home gateway, using NAT-PMP/PCP.  However, it apparently tries to probe the first host on the local network (`10.42.42.1` for `10.42.42.0/24`, `172.23.184.65` for `172.23.184.64/26`, etc).  This is a netstat on the machine running ipfs on my home network, addressed in `172.23.184.64/26`:

<pre>
udp        0      0 172.23.184.98:54434     172.23.184.65:5351      ESTABLISHED 1000       1513617    29256/ipfs
</pre>


However, the gateway is actually at `172.23.184.97`, not `172.23.184.65`.  While this particular home network might be somewhat uncommon, at least one big ISP in France (Free) addresses their home router at `192.168.1.254`. There is no reason why the gateway should be the first host in the net.

The proper way to detect the gateway (as described in [Section 8.1 of RFC 6887](https://tools.ietf.org/html/rfc6887#page-21)) would be to look at the default route in the routing table (or use a DHCP option, but I don't think one exists yet).


:+1: thanks for pointing this out! Anything we can do to make our NAT traversal better is important

@zorun totally right. i think we use @fd's https://github.com/fd/go-nat so maybe it's part of that pkg, or how i'm using it?

You're right, the code causing this is: https://github.com/fd/go-nat/blob/master/natpmp.go#L37

The underlying lib https://github.com/jackpal/go-nat-pmp needs to know the gateway address:
https://github.com/jackpal/go-nat-pmp/blob/master/natpmp.go#L34
An issue is open to determine it automatically, though: https://github.com/jackpal/go-nat-pmp/issues/1

I'll forward this bug report, thanks :)

@zorun, @jbenet I updated go-nat with NAT-PMP/PCP gateway detection.

We might be using a really old version of @fd's package. Lets verify that, and update if we have an old version. This is related to: https://github.com/ipfs/go-ipfs/issues/2797 

Fixed (again?) in https://github.com/libp2p/go-nat/commit/c8594db014d29a36fe16880224818429f2a867c2.